{% extends 'base.html.twig' %}

{% block title %}Page administrateur{% endblock %}

{% block body %}
<h1> Ceci est la page reservé a l'administrateur.</h1>
    <a href="{{ path('utilisateurs') }}">Liste des roles</a>

{% endblock %}
